.App {
  text-align: center;
}

/* Market List */
.App > ul {
  width: 50%;
  left: 5.5%;
  position: relative;
  margin: auto;
}

.list-item {
  text-align: left;
  padding: .3em;
  cursor: pointer;
}

.list-item div {
  display:inline-block;
}


/* Modal */
.market-modal {
  position: fixed;
  bottom: 30%;
  right: 30%;
  z-index: 10;
  background-color:red;
  min-width: 40%;
  min-height: 40%;
}

.market-product,
{
  font-size: 1em;
  text-align: left;
}

.product-list {
  width: 54%;
}




